<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.googlecode.goclipse.launch.goLaunchType">
<stringAttribute key="buildCommand" value=""/>
<booleanAttribute key="buildCommand_UseDefault" value="false"/>
<stringAttribute key="buildTarget" value="build:go_file"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="F:\My_Go\MyGo_1\bin\go_file.exe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="MyGo_1"/>
<stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="F:/My_Go/MyGo_1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MyGo_1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
<booleanAttribute key="programPath_UseDefault" value="true"/>
<stringAttribute key="project" value="MyGo_1"/>
</launchConfiguration>
